html{
  margin: 1% 5% 1% 5%;
}

body{
  margin-top: 1em;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding:0 1em 0 1em;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

#printers{
  font-size: 110%;
  padding: 0 7% 0 7%;
}

.well{
  text-align: left;
}
.accordion-heading{
  margin-bottom: 1em;
}

#istruzioniToggler{
  text-align: left;
}

#sbaglioToggler{
  text-align: right;
}

h2{
  margin-top: 0;
}

#thanks{
  position: relative;
  float:right;
  font-style: italic;
  color: #999;
  top:1em;
}

.alert{
  margin-bottom: 0;
}

code{
  font-size: 97%;
}

.animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
